*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, #root{
  height: 100%;
}

body{
  background: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  font: 14px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  background: #f4f4f9;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.task-item.high-cost {
  border: 2px solid #ebb506;
}

.task-item.high-cost .task-details p.custo {
  border-bottom: 2px solid #ebb506;
  padding-bottom: 1px;
}

.task-details h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.task-details p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.task-actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
  margin-left: 5px;
}

.task-actions button:active {
  transform: translateY(3px);
}

.task-actions button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.task-actions button:hover:not(:disabled) {
  color: #007bff;
}


.task-actions button:hover {
  color: #007bff;
}

.task-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.task-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.task-input button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-input button:hover {
  background-color: #0056b3;
}

.task-input button:active {
  transform: translateY(3px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px 40px  20px 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 480px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-content button:first-of-type {
  background-color: #007bff;
  color: white;
}

.modal-content button:first-of-type:hover {
  background-color: #0056b3;
}

.modal-content button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.modal-content button:last-of-type:hover {
  background-color: #ec142a;
}
